@model Core.Models.FileUploadModel

@{
    ViewData["Title"] = "Encrypt/Decrypt";
}

<h2>Encrypt/Decrypt</h2>

<form asp-action="UploadOrCreate" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="File">Upload File</label>
        <input asp-for="File" type="file" class="form-control" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="IsByte" class="form-check-input" />
        <label asp-for="IsByte" class="form-check-label">Is the file in byte format?</label>
    </div>

    <div class="form-group" style="padding-top: 20px;">
        <label asp-for="FileContentText"><strong>Or</strong> Create a New Text File</label>
        <textarea asp-for="FileContentText" class="form-control" rows="5"></textarea>
        <span asp-validation-for="FileContentText" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FileName">File Name</label>
        <input asp-for="FileName" class="form-control" />
        <span asp-validation-for="FileName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FileExtension">File Extension</label>
        <input asp-for="FileExtension" class="form-control" value=".txt" readonly />
        <span asp-validation-for="FileExtension" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Next</button>
</form>